src/PerformanceTests/routes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:com.nservicebus/routing/1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" id="NServiceBusRouting">
  <xs:element name="endpoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="endpoint">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="instance" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="discriminator" type="xs:string" use="optional"/>
                  <xs:anyAttribute processContents="skip"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>